.homepage {
  .background {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0093E9;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);

    .introduction {
      height: 800px;
      background-color: white;
      color: black;
      padding: 20px;

      .introText {
        border-right: 1px solid black;
        text-align: center;

        .title h1 {
          margin-top: 40px;
          margin-bottom: 24px;
          letter-spacing: 6px;
          font-size: 3em;
        }

        .features {
          margin-top: 200px;
        }
      }

      .loginRegisterButtons {
        justify-content: center;
        align-items: center;
        display: flex;

        .row {
          width: 80%;
        }

        button {
          margin-top: 26px;
        }
      }
    }
  }
}
