.projectUsers {
  margin-top: 64px;

  .userEmailDiv {
    text-align: center;
    margin-top: 60px;

    #newUserEmail {
      width: 460px;
      display: inline;
      margin-right: 6px;
    }
  }

  .projectUsersDataGrid {
    width: 100%;
    height: 600px;
    margin: 40px;
  }
}
